<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>500</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/style/about.css' %}"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-175169707-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-175169707-1");
    </script>
  </head>

  <body>
    <div class="d-flex justify-content-center align-items-center">
      <h1
        class="mr-3 pr-3 align-top border-right inline-block align-content-center"
      >
        500
      </h1>
      <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">Internal server error</h2>
      </div>
    </div>
  </body>
</html>
