<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>UW Program Compatibility Tool | Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/style/programs.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body>
  <div class="wrapper">
    <div class="title">
      <h2>All The Engineering Programs Offered At The University Of Waterloo</h2>
    </div>
    <div class="content">
      <div class="program" id="program0">
        <div class="programInfo">
          <h3>{{ programs.0.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home0">About</a></li>
            <li><a data-toggle="tab" href="#courses0">Courses</a></li>
            <li><a data-toggle="tab" href="#careers0">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison0">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home0" class="tab-pane fade in active">
              <p>{{ programs.0.description}}</p>
              <p> Read more about this program <a href="{{ programs.0.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses0" class="tab-pane fade">
              <p>{{ recommendation_set.0.course.course }}</p>
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.0.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.0.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers0" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.0.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.0.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison0" class="tab-pane fade">
              {% for comparison in programs.0.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program1">
        <div class="programInfo">
          <h3>{{ programs.1.program_name}}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home1">About</a></li>
            <li><a data-toggle="tab" href="#courses1">Courses</a></li>
            <li><a data-toggle="tab" href="#careers1">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison1">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home1" class="tab-pane fade in active">
              <p>{{ programs.1.description}}</p>

              <p> Read more about this program <a href="{{programs.1.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses1" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.1.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.1.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers1" class="tab-pane fade">
              <p>{{ recommendation_set.1.career.career }}</p>
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.1.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.1.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison1" class="tab-pane fade">
              {% for comparison in programs.1.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program2">
        <div class="programInfo">
          <h3>{{ programs.2.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home2">About</a></li>
            <li><a data-toggle="tab" href="#courses2">Courses</a></li>
            <li><a data-toggle="tab" href="#careers2">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison2">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home2" class="tab-pane fade in active">
              <p>{{ programs.2.description }}</p>

              <p> Read more about this program <a href="{{programs.2.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses2" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.2.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.2.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers2" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.2.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.2.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison2" class="tab-pane fade">
              {% for comparison in programs.2.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program3">
        <div class="programInfo">
          <h3>{{ programs.3.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home3">About</a></li>
            <li><a data-toggle="tab" href="#courses3">Courses</a></li>
            <li><a data-toggle="tab" href="#careers3">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison3">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home3" class="tab-pane fade in active">
              <p>{{ programs.3.description }}</p>

              <p> Read more about this program <a href="{{programs.3.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses3" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.3.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.3.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers3" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.3.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.3.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison3" class="tab-pane fade">
              {% for comparison in programs.3.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program4">
        <div class="programInfo">
          <h3>{{ programs.4.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home4">About</a></li>
            <li><a data-toggle="tab" href="#courses4">Courses</a></li>
            <li><a data-toggle="tab" href="#careers4">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison4">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home4" class="tab-pane fade in active">
              <p>{{ programs.4.description }}</p>

              <p> Read more about this program <a href="{{programs.4.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses4" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.4.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.4.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers4" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.4.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.4.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison4" class="tab-pane fade">
              {% for comparison in programs.4.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program5">
        <div class="programInfo">
          <h3>{{ programs.5.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home5">About</a></li>
            <li><a data-toggle="tab" href="#courses5">Courses</a></li>
            <li><a data-toggle="tab" href="#careers5">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison5">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home5" class="tab-pane fade in active">
              <p>{{ programs.5.description }}</p>

              <p> Read more about this program <a href="{{programs.5.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses5" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.5.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.5.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers5" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.5.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.5.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison5" class="tab-pane fade">
              {% for comparison in programs.5.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program6">
        <div class="programInfo">
          <h3>{{ programs.6.program_name}}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home6">About</a></li>
            <li><a data-toggle="tab" href="#courses6">Courses</a></li>
            <li><a data-toggle="tab" href="#careers6">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison6">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home6" class="tab-pane fade in active">
              <p>{{programs.6.description}}</p>

              <p> Read more about this program <a href="{{programs.6.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses6" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.6.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.6.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers6" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.6.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.6.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison6" class="tab-pane fade">
              {% for comparison in programs.6.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program7">
        <div class="programInfo">
          <h3>{{ programs.7.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home7">About</a></li>
            <li><a data-toggle="tab" href="#courses7">Courses</a></li>
            <li><a data-toggle="tab" href="#careers7">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison7">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home7" class="tab-pane fade in active">
              <p>{{ programs.7.description }}</p>

              <p> Read more about this program <a href="{{programs.7.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses7" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.7.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.7.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers7" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.7.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.7.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison7" class="tab-pane fade">
              {% for comparison in programs.7.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program8">
        <div class="programInfo">
          <h3>{{ programs.8.program_name}}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home8">About</a></li>
            <li><a data-toggle="tab" href="#courses8">Courses</a></li>
            <li><a data-toggle="tab" href="#careers8">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison8">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home8" class="tab-pane fade in active">
              <p>{{ programs.8.description }}</p>

              <p> Read more about this program <a href="{{programs.8.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses8" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.8.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.8.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers8" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.8.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.8.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison8" class="tab-pane fade">
              {% for comparison in programs.8.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="program" id="program9">
        <div class="programInfo">
          <h3>{{ programs.9.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home9">About</a></li>
            <li><a data-toggle="tab" href="#courses9">Courses</a></li>
            <li><a data-toggle="tab" href="#careers9">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison9">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home9" class="tab-pane fade in active">
              <p>{{ programs.9.description }}</p>

              <p> Read more about this program <a href="{{programs.9.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses9" class="tab-pane fade">
              <p>{{ recommendation_set.9.course.course }}</p>
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.9.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.9.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers9" class="tab-pane fade">
              <p>{{ recommendation_set.9.career.career }}</p>
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.9.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.9.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison9" class="tab-pane fade">
              {% for comparison in programs.9.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program10">
        <div class="programInfo">
          <h3>{{ programs.10.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home10">About</a></li>
            <li><a data-toggle="tab" href="#courses10">Courses</a></li>
            <li><a data-toggle="tab" href="#careers10">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison10">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home10" class="tab-pane fade in active">
              <p>{{ programs.10.description }}</p>

              <p> Read more about this program <a href="{{programs.10.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses10" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.10.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.10.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers10" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.10.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.10.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison10" class="tab-pane fade">
              {% for comparison in programs.10.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program11">
        <div class="programInfo">
          <h3>{{ programs.11.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home11">About</a></li>
            <li><a data-toggle="tab" href="#courses11">Courses</a></li>
            <li><a data-toggle="tab" href="#careers11">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison11">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home11" class="tab-pane fade in active">
              <p>{{ programs.11.description }}</p>

              <p> Read more about this program <a href="{{programs.11.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses11" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.11.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.11.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers11" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.11.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.11.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison11" class="tab-pane fade">
              {% for comparison in programs.11.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program12">
        <div class="programInfo">
          <h3>{{ programs.12.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home12">About</a></li>
            <li><a data-toggle="tab" href="#courses12">Courses</a></li>
            <li><a data-toggle="tab" href="#careers12">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison12">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home12" class="tab-pane fade in active">
              <p>{{ programs.12.description }}</p>

              <p> Read more about this program <a href="{{programs.12.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses12" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.12.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.12.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers12" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.12.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.12.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison12" class="tab-pane fade">
              {% for comparison in programs.12.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program13">
        <div class="programInfo">
          <h3>{{ programs.13.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home13">About</a></li>
            <li><a data-toggle="tab" href="#courses13">Courses</a></li>
            <li><a data-toggle="tab" href="#careers13">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison13">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home13" class="tab-pane fade in active">
              <p>{{ programs.13.description }}</p>

              <p> Read more about this program <a href="{{programs.13.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses13" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.13.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.13.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers13" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.13.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.13.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison13" class="tab-pane fade">
              {% for comparison in programs.13.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program14">
        <div class="programInfo">
          <h3>{{ programs.14.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home14">About</a></li>
            <li><a data-toggle="tab" href="#courses14">Courses</a></li>
            <li><a data-toggle="tab" href="#careers14">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison14">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home14" class="tab-pane fade in active">
              <p>{{ programs.14.description }}</p>

              <p> Read more about this program <a href="{{programs.14.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses14" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in programs.14.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in programs.14.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers14" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in programs.14.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in programs.14.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison14" class="tab-pane fade">
              {% for comparison in programs.14.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>