<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>UW Program Compatibility Tool | Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/style/recommendations.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static '/js/recommendations.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175169707-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175169707-1');
  </script>


</head>

<body>
  <div class="wrapper">
    <form class="back">
      <input type="button" class="button" id="backButton" value="Back to Quiz" onclick="goBack()">
    </form>

    <div class="title">
      <h2>Your Results Are In</h2>
      <p>The following is your personalized list of all the engineering programs offered at the University of Waterloo,
        ordered starting with the program that aligns best with your interest.</p>
      <p>Select a program to directly compare it below.</p>
    </div>
    <div class="sidenav">
      <div class="link">
        <a name=#program0 id="link0">1. {{ result.one.program_name }} <i class="fa fa-eye" id="eye0"></i></a>
      </div>
      <div class="link">
        <a name=#program1 id="link1">2. {{ result.two.program_name }} <i class="fa fa-eye" id="eye1"></i></a>
      </div>
      <div class="link">
        <a name=#program2 id="link2">3. {{result.three.program_name }} <i class="fa fa-eye" id="eye2"></i></a>
      </div>
      <div class="link">
        <a name=#program3 id="link3">4. {{ result.four.program_name}} <i class="fa fa-eye" id="eye3"></i></a>
      </div>
      <div class="link">
        <a name=#program4 id="link4">5. {{ result.five.program_name }} <i class="fa fa-eye" id="eye4"></i></a>
      </div>
      <div class="link">
        <a name=#program5 id="link5">6. {{result.six.program_name }} <i class="fa fa-eye" id="eye5"></i></a>
      </div>
      <div class="link">
        <a name=#program6 id="link6">7. {{ result.seven.program_name }} <i class="fa fa-eye" id="eye6"></i></a>
      </div>
      <div class="link">
        <a name=#program7 id="link7">8. {{ result.eight.program_name }} <i class="fa fa-eye" id="eye7"></i></a>
      </div>
      <div class="link">
        <a name=#program8 id="link8">9. {{ result.nine.program_name }} <i class="fa fa-eye" id="eye8"></i></a>
      </div>
      <div class="link">
        <a name=#program9 id="link9">10. {{ result.ten.program_name}} <i class="fa fa-eye" id="eye9"></i></a>
      </div>
      <div class="link">
        <a name=#program10 id="link10">11. {{ result.eleven.program_name }} <i class="fa fa-eye" id="eye10"></i></a>
      </div>
      <div class="link">
        <a name=#program11 id="link11">12. {{ result.twelve.program_name}} <i class="fa fa-eye" id="eye11"></i></a>
      </div>
      <div class="link">
        <a name=#program12 id="link12">13. {{ result.thirteen.program_name }} <i class="fa fa-eye" id="eye12"></i></a>
      </div>
      <div class="link">
        <a name=#program13 id="link13">14. {{ result.fourteen.program_name }} <i class="fa fa-eye" id="eye13"></i></a>
      </div>
      <div class="link">
        <a name=#program14 id="link14">15. {{ result.fifteen.program_name}} <i class="fa fa-eye" id="eye14"></i></a>
      </div>
    </div>
    <div class="emailWrapper">
      <div class="emailSection" id="beforeSubmit">
        <form id="submit" method="POST" action="{% url 'emailSubmit' %}">
          {% csrf_token %}
          <p>Enter your email below to recieve information about Engineering at the University of Waterloo</p>
          <input type="email" id="email" name="email" required>
          <input type="submit" class="button" name="emailSubmit" id="emailSubmit" value="&#62;">
          <div class="">
            <input type="checkbox" name="register" id="register" class="emailChoice" required>
            <label for="register">Update me for future events</label>
          </div>
          <input type="checkbox" name="sendRes" id="sendRes" class="emailChoice" required>
          <label for="sendRes">Send my results</label>
        </form>
      </div>
      <div class="emailSection" id="afterSubmit">
        <p>We have recieved your email, thank you!</p>
      </div>
    </div>
    <div class="content">
      <div class="program" id="program0">
        <div class="programInfo">
          <h3>1. {{ result.one.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home0">About</a></li>
            <li><a data-toggle="tab" href="#courses0">Courses</a></li>
            <li><a data-toggle="tab" href="#careers0">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison0">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home0" class="tab-pane fade in active">
              <p>{{ result.one.description }}</p>

              <p> Read more about this program <a href="{{result.one.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses0" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.one.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.one.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers0" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.one.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.one.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison0" class="tab-pane fade">
              {% for comparison in result.one.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program1">
        <div class="programInfo">
          <h3>2. {{ result.two.program_name}}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home1">About</a></li>
            <li><a data-toggle="tab" href="#courses1">Courses</a></li>
            <li><a data-toggle="tab" href="#careers1">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison1">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home1" class="tab-pane fade in active">
              <p>{{ result.two.description }}</p>

              <p> Read more about this program <a href="{{result.two.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses1" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.two.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.two.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers1" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.two.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.two.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison1" class="tab-pane fade">
              {% for comparison in result.two.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program2">
        <div class="programInfo">
          <h3>3. {{ result.three.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home2">About</a></li>
            <li><a data-toggle="tab" href="#courses2">Courses</a></li>
            <li><a data-toggle="tab" href="#careers2">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison2">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home2" class="tab-pane fade in active">
              <p>{{ result.three.description }}</p>

              <p> Read more about this program <a href="{{result.three.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses2" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.three.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.three.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers2" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.three.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.three.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison2" class="tab-pane fade">
              {% for comparison in result.three.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program3">
        <div class="programInfo">
          <h3>4. {{ result.four.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home3">About</a></li>
            <li><a data-toggle="tab" href="#courses3">Courses</a></li>
            <li><a data-toggle="tab" href="#careers3">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison3">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home3" class="tab-pane fade in active">
              <p>{{ result.four.description }}</p>

              <p> Read more about this program <a href="{{result.four.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses3" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.four.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.four.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers3" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.four.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.four.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison3" class="tab-pane fade">
              {% for comparison in result.four.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program4">
        <div class="programInfo">
          <h3>5. {{ result.five.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home4">About</a></li>
            <li><a data-toggle="tab" href="#courses4">Courses</a></li>
            <li><a data-toggle="tab" href="#careers4">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison4">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home4" class="tab-pane fade in active">
              <p>{{ result.five.description }}</p>

              <p> Read more about this program <a href="{{result.five.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses4" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.five.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.five.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers4" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.five.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.five.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison4" class="tab-pane fade">
              {% for comparison in result.five.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program5">
        <div class="programInfo">
          <h3>6. {{ result.six.program_name}}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home5">About</a></li>
            <li><a data-toggle="tab" href="#courses5">Courses</a></li>
            <li><a data-toggle="tab" href="#careers5">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison5">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home5" class="tab-pane fade in active">
              <p>{{ result.six.description }}</p>

              <p> Read more about this program <a href="{{result.six.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses5" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.six.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.six.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers5" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.six.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.six.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison5" class="tab-pane fade">
              {% for comparison in result.six.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program6">
        <div class="programInfo">
          <h3>7. {{ result.seven.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home6">About</a></li>
            <li><a data-toggle="tab" href="#courses6">Courses</a></li>
            <li><a data-toggle="tab" href="#careers6">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison6">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home6" class="tab-pane fade in active">
              <p>{{ result.seven.description }}</p>

              <p> Read more about this program <a href="{{result.seven.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses6" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.seven.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.seven.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers6" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.seven.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.seven.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison6" class="tab-pane fade">
              {% for comparison in result.seven.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program7">
        <div class="programInfo">
          <h3>8. {{ result.eight.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home7">About</a></li>
            <li><a data-toggle="tab" href="#courses7">Courses</a></li>
            <li><a data-toggle="tab" href="#careers7">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison7">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home7" class="tab-pane fade in active">
              <p>{{ result.eight.description }}</p>

              <p> Read more about this program <a href="{{result.eight.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses7" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.eight.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.eight.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers7" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.eight.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.eight.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison7" class="tab-pane fade">
              {% for comparison in result.eight.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program8">
        <div class="programInfo">
          <h3>9. {{ result.nine.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home8">About</a></li>
            <li><a data-toggle="tab" href="#courses8">Courses</a></li>
            <li><a data-toggle="tab" href="#careers8">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison8">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home8" class="tab-pane fade in active">
              <p>{{ result.nine.description }}</p>

              <p> Read more about this program <a href="{{result.nine.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses8" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.nine.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.nine.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers8" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.nine.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.nine.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison8" class="tab-pane fade">
              {% for comparison in result.nine.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="program" id="program9">
        <div class="programInfo">
          <h3>10. {{ result.ten.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home9">About</a></li>
            <li><a data-toggle="tab" href="#courses9">Courses</a></li>
            <li><a data-toggle="tab" href="#careers9">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison9">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home9" class="tab-pane fade in active">
              <p>{{ result.ten.description }}</p>

              <p> Read more about this program <a href="{{result.ten.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses9" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.ten.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.ten.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers9" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.ten.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.ten.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison9" class="tab-pane fade">
              {% for comparison in result.ten.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program10">
        <div class="programInfo">
          <h3>11. {{ result.eleven.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home10">About</a></li>
            <li><a data-toggle="tab" href="#courses10">Courses</a></li>
            <li><a data-toggle="tab" href="#careers10">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison10">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home10" class="tab-pane fade in active">
              <p>{{ result.eleven.description }}</p>

              <p> Read more about this program <a href="{{result.eleven.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses10" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.eleven.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.eleven.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers10" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.eleven.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.eleven.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison10" class="tab-pane fade">
              {% for comparison in result.eleven.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program11">
        <div class="programInfo">
          <h3>12. {{ result.twelve.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home11">About</a></li>
            <li><a data-toggle="tab" href="#courses11">Courses</a></li>
            <li><a data-toggle="tab" href="#careers11">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison11">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home11" class="tab-pane fade in active">
              <p>{{ result.twelve.description }}</p>

              <p> Read more about this program <a href="{{result.twelve.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses11" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.twelve.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.twelve.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers11" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.twelve.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.twelve.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison11" class="tab-pane fade">
              {% for comparison in result.twelve.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program12">
        <div class="programInfo">
          <h3>13. {{ result.thirteen.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home12">About</a></li>
            <li><a data-toggle="tab" href="#courses12">Courses</a></li>
            <li><a data-toggle="tab" href="#careers12">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison12">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home12" class="tab-pane fade in active">
              <p>{{ result.thirteen.description }}</p>

              <p> Read more about this program <a href="{{result.thirteen.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses12" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.thirteen.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.thirteen.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers12" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.thirteen.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.thirteen.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison12" class="tab-pane fade">
              {% for comparison in result.thirteen.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program13">
        <div class="programInfo">
          <h3>14. {{ result.fourteen.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home13">About</a></li>
            <li><a data-toggle="tab" href="#courses13">Courses</a></li>
            <li><a data-toggle="tab" href="#careers13">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison13">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home13" class="tab-pane fade in active">
              <p>{{ result.fourteen.description }}</p>

              <p> Read more about this program <a href="{{result.fourteen.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses13" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.fourteen.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.fourteen.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers13" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.fourteen.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.fourteen.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison13" class="tab-pane fade">
              {% for comparison in result.fourteen.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="program" id="program14">
        <div class="programInfo">
          <h3>15. {{ result.fifteen.program_name }}</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home14">About</a></li>
            <li><a data-toggle="tab" href="#courses14">Courses</a></li>
            <li><a data-toggle="tab" href="#careers14">Careers</a></li>
            <li><a data-toggle="tab" href="#comparison14">Compared To</a></li>
          </ul>

          <div class="tab-content">
            <div id="home14" class="tab-pane fade in active">
              <p>{{ result.fifteen.description }}</p>

              <p> Read more about this program <a href="{{result.fifteen.site}}" target="_blank">here</a></p>
            </div>
            <div id="courses14" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample First Year Courses</h4>
                  {% for course in result.fifteen.course_set.all%}
                  {% if course.course_type == 'first' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Upper Year Courses</h4>
                  {% for course in result.fifteen.course_set.all%}
                  {% if course.course_type == 'upper' %}
                  <p>{{ course.course }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="careers14" class="tab-pane fade">
              <div class="row">
                <div class="column">
                  <h4>Sample Co-op Jobs</h4>
                  {% for career in result.fifteen.career_set.all%}
                  {% if career.career_type == 'coop'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <h4>Sample Full-Time Jobs</h4>
                  {% for career in result.fifteen.career_set.all%}
                  {% if career.career_type == 'fulltime'%}
                  <p>{{ career.career }}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="comparison14" class="tab-pane fade">
              {% for comparison in result.fifteen.program.all %}
              <p><strong>{{comparison.program_2.program_name}}</strong></p>
              <p>{{ comparison.comparison}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const countCheckbox = () => {
      let counter = 0
      $('.emailChoice').each((idx, box) => {
        if (box.checked) counter++;
      })
      return counter
    }
    $(function () {
      $('.emailChoice').on('change', () => {
        let checked = countCheckbox()
        if (checked > 0) {
          $('.emailChoice').removeAttr('required')
        } else {
          $('.emailChoice').attr('required', 'required')
        }
      })
    })
  </script>
</body>

</html>