<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Signup</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        {% if messages %} {% for message in messages %}
        <div
          class="{{message.tags}}"
          role="alert"
          style="display: flex; justify-content: space-between"
        >
          {{message}}
          <button
            type="button"
            class="btn-close flash-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="container centered">
      <div class="row">
        <div class="col-8 offset-2 col-lg-6 offset-lg-3">
          <div class="card">
            <h5 class="card-header text-center">Signup</h5>
            <div class="card-body">
              <form action="{% url 'signup'%}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="userInput" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userInput"
                    name="username"
                  />
                </div>
                <div class="mb-3">
                  <label for="passwordInput" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passwordInput"
                    name="password"
                  />
                </div>
                <div class="mb-3">
                  <label for="signupKeyInput" class="form-label" name="password"
                    >Signup key</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="signupKeyInput"
                    name="key"
                  />
                </div>
                <button type="submit" class="btn btn-primary mb-3">
                  Signup
                </button>
                <div class="">
                  <a href="{%url 'login'%}">Already have an account? Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      .centered {
        margin-top: 10%;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/js/flashMessage.js' %}"></script>
  </body>
</html>
